/*  this is the universal selector this help with pading , margin in border of img */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* this is div with all code in this including height of page andoverflow hide this 
perspective 10 px mean  */
#wrapper{
    height:100vh;
    overflow-x: hidden;
    perspective: 10px;
}
/*  container div fthis is for h1 and img foreground and background and also0 with center 
 and 3d create*/
.container{
    position:relative;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
/*   bag and forg how close and how zoomout you want each that help*/

.background{
    transform: translateZ(-40px) scale(5);
}

.foreground{
    transform: translateZ(-20px) scale(3);
}
/* bg and fg by absolute  this come on each other top and fit to bod    */
.background, .foreground{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index: -1;
    
}
/*  for h1 mean heading adventure and his height possition color all inclide
*/
h1{
    position: absolute;
    top: 8px;
    font-size:15rem;
    letter-spacing:7px;
    color:white;
    text-shadow:0 0 10px rgba(0,0,0,0.3);
}
/*  section this help color of lorem text white and baground color black(45,45,45)
   */
section{
    background-color: rgb(45,45,45);
    color:white;
    padding:5rem 0;
}



/* secheading class contain only riding para gliding h2 elements
there pading and size of text  */
.secHeading{
    font-size:5rem;
    padding:0 10rem;
}
    /*   all lorem text size  */
.text{
    font-size:1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
    
}
/* .bg  help with h2 and bag img space 
 and bg size for  img */
.bg{
    position:relative;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:500px;
}


/* desc  mean h2 there bg size colore where to poot padding which side of bg img
  */
.desc{
    position: absolute;
    background-color: white;   
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateX(-50%);

    color:black;
    font-size:3.5rem;
    font-weight:600;
}
/* backgrond img added in bg1 to bg3  */
.bg1{
    background-image: url(sport-1.jpg);
}

.bg2{
    background-image: url(sport-2.jpg);
}

.bg3{
    background-image: url(sport-3.jpg);
}




